{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
  <div class="container mt-4">
    <h1>Bonjour {{ app.user.firstName }}</h1>
    <p>Bienvenue sur ton profil.</p>
    <a href="{{ path('app_logout') }}">Se déconnecter</a>
  </div>
{% endblock %}
